@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color:  #f2f2f2;
    font-size: 18px;
    color: hsl(0, 0%, 75%);
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 10px;
}
.header-left{
    display: flex;
    justify-content: space-evenly;
    max-width: 420px;
    
}.header-left a:first-of-type{
    margin-left: 10px;
}
.header-left a {
    text-decoration: none;
    color: hsl(0, 0%, 75%);
    margin-right: 10px;
    transition: all 0.5s;
}
.header-left a:hover{
    color: #000;

}
.header-right a {
    text-decoration: none;
    color: hsl(0, 0%, 75%);
    
    transition: all 0.5s;
}
.header-right a:hover{
    color: #000;

}
.header-right a:first-of-type{
    margin-right: 10px;
}
.header-right{
    display: flex;
    max-width: 200px;
    justify-content: space-evenly;
}
.logo{
    cursor: pointer;
}
.hamburger{
    display: none;
}
.header-right .btn-1{
    text-decoration: none;
    background-color: hsl(180, 66%, 49%);
    color: white;
    padding:10px 15px;
    margin-top: -10px;
    border-radius:50px ;
    transition: background-color 0.3s;
    
}
.header-right .btn-1:hover{
    box-shadow: 0 3px 10px -2px #333;
    color: white;
    background-color: hsl(180, 66%, 70%);
}
.header-hidden{
    display: none;
}
.hero{
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: hsl(0, 0%, 75%);
}
h1,h2,h3{
    color: hsl(260, 8%, 14%);
    font-weight: 700;
    padding-bottom: 20px;
}
.hidden{
    display: none;
}

.illustration{
    max-width: 100%;
   
}
.btn-2{
    text-decoration: none;
    background-color: hsl(180, 66%, 49%);
    color: white;
    padding:5px 15px;
    margin-top: 10px;
    display: inline-block;
    border-radius:15px ;
    transition: background-color 0.3s;
}
.btn-2:hover{
    background-color: hsl(180, 66%, 70%);
}
.form{
    background: url(images/bg-shorten-desktop.svg);
    background-color: hsl(257, 27%, 26%);
    background-position: cover;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: -40px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    column-gap: 30px;
    row-gap: 10px;
    grid-template-columns: 4fr 0.8fr;
    border-radius: 5px;
    
}
#url{
    
    width: 100%;
    height: 40px;
    margin-left: 15px;
    margin-right: 10px;
    border-radius: 5px;
    padding-left: 10px;
    border: none;
}
.main-btn{
    text-decoration: none;
    background-color: hsl(180, 66%, 49%);
    color: white;
    padding:10px 15px;
    /* margin-top: 5px; */
    /* margin-left: 30px; */
    display: inline-block;
    border-radius:10px ;
    border: none;
    transition: background-color 0.3s;
}
.main-btn:hover{
    background-color: hsl(180, 66%, 70%);
    cursor: pointer;
}
.result{
    display: flex;
    background-color: #fff;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 10vw;
    padding: 10px 15px;
    color: hsl(260, 8%, 14%);
}
.sent{
    text-decoration: underline;
}
.shortened{
   display: flex;
   justify-content: space-evenly;
   color:blue;
   text-decoration: underline;
}
.shortened div{
    margin-right: 10px;
}
.copy{
    text-decoration: none;
    background-color: hsl(180, 66%, 49%);
    color: white;
    padding:5px 15px;
    margin-top: -5px;
    display: inline-block;
    border-radius:15px ;
}
.copy:focus{
    background-color:hsl(257, 27%, 26%) ;
}
.copy:hover{
    background-color: hsl(180, 66%, 70%);
}
.advanced{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 20px 20vw;
}
/* .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 10vw;
    column-gap: 20px;
    
}
.icon{
    background-color: hsl(257, 27%, 26%);
    padding: 10px;
    border-radius: 50%;
    margin-top: -40px;
    display: block;
    
    
}
.first-grid, .second-grid, .third-grid{
    background-color: #fff;
    padding: 10px;
    
}
.second-grid{
    margin-top: 20px;
}

.third-grid{
    margin-top: 40px;
}

.cta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: url(images/bg-shorten-desktop.svg);
    background-position: cover;
    background-color: hsl(257, 27%, 26%);
    color: #fff;
    padding: 30px 10vw;
}
.cta h2{
    color: #fff;
}
.footer{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    background-color:  hsl(260, 8%, 14%);
    padding: 20px 10vw;
    gap: 25px;
}
.footer div ul li{
    list-style: none;
}
.footer div ul li:not(:first-of-type):hover{
    color: hsl(180, 66%, 49%);
    cursor: pointer;
}
.social-icons img{
    margin-right: 5px;
}
.social-icons img:hover {
    color: hsl(180, 66%, 49%);
    cursor: pointer;
}
.social-icons img path:hover {
    
    cursor: pointer;
  }
 #logo path{
    
    cursor: pointer;
}
@media screen and (max-width: 600px) {
.header-left a {
    display: none;
}
.header-right{
    display: none;
}
.hamburger{
    display: block;
    cursor: pointer;
}
.hero{
    display: flex;
    flex-direction: column-reverse;
}
h1{
    text-align: center;
}
.btn-2{
    display: block;
    text-align: center;
    margin: 15px 90px;
    transition: background-color 0.3s;
}
.wrapper{
    padding: 10px 5vw;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(images/bg-shorten-mobile.svg);
    background-color: hsl(257, 27%, 26%);
}
#url{
    margin-left: 0;
    margin-right: 0;
    max-width: 400px;
    /* min-width: 250px; */
    width: 100%;
    
}
.main-btn{
    
    width: 100%;
}
.result{
    flex-direction: column;
   
}
.shortened{
    flex-direction: column;
    margin-top: 10px;
    
}
.copy-wrapper{
    margin-top: 10px;
    text-align: center;
    
    
}
.copy{
    text-align: center;
}
.grid{
    grid-template-columns: 1fr;
    gap: 20px;
}
.cta{
    background-image: url(images/bg-boost-mobile.svg);
}
.first-grid, .second-grid, .third-grid{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.footer{
    grid-template-columns: 1fr;
    text-align: center;
}

.header-hidden{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(257, 27%, 26%);
    margin: 5px ;
    color: #fff;
    padding: 20px 0;
    border-radius: 5px;
}
.header-hidden div{
    display: flex;
    flex-direction: column;
}
.header-hidden div a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}
.hidden{
    display: none;
}
.hidden-first a {
    margin-bottom: 10px;
}
.hidden-first{
    border-bottom:solid 1.5px hsl(257, 7%, 63%) ;
    width: 80%;
}
.hidden-second a{
    margin-bottom: 10px;
    
}
}
@media screen and (max-width:310px) {
    .btn-2{
        width: 100%;
        margin: 0;
    }
    
}